@model Senior.Revenda.Contract.DTOs.Filter.VeiculoFilterDTO
@using Senior.Revenda.Contract.Enum

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Renavam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lista.Count() > 0)
        {
            foreach (var item in Model.Lista)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Renavam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Alterar", "Veiculo", new { id = item.Id }, null)
                        @if (item.Status == StatusVeiculoEnum.Disponivel)
                        {
                            <span>| </span><a onclick="VenderVeiculo('@Request.Url.Authority', '@item.Id')">Vender</a>
                            <span>| </span><a onclick="IndisponibilizarVeiculo('@Request.Url.Authority', '@item.Id')">Indisponibilizar</a>
                        }
                        else if (item.Status == StatusVeiculoEnum.Vendido)
                        {
                            <span>| </span><a onclick="IndisponibilizarVeiculo('@Request.Url.Authority', '@item.Id')">Indisponibilizar</a>
                        }
                        else if (item.Status == StatusVeiculoEnum.Indisponivel)
                        {
                            <span>| </span><a onclick="VenderVeiculo('@Request.Url.Authority', '@item.Id')">Vender</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Nenhum registro encontrado.</td>
            </tr>
        }
    </tbody>
</table>
