@model Senior.Revenda.Contract.DTOs.VeiculoDTO
@{
    ViewBag.Title = "Cadastrar - Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Veículo <small>Cadastro</small></h3>
    </div>
    <div class="panel-body">
        <form action="Cadastrar" method="post">
            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.IdProprietario, new { @class = "col-md-2" })
                @Html.DropDownListFor(m => m.IdProprietario, (SelectList)ViewBag.Proprietario, "Selecione", new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Renavam, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.Renavam, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.IdMarca, new { @class = "col-md-2" })
                @Html.DropDownListFor(m => m.IdMarca, (SelectList)ViewBag.Marca, "Selecione", new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Modelo, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.AnoFabricacao, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.AnoFabricacao, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.AnoModelo, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.AnoModelo, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Quilometragem, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.Quilometragem, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12 form-group">
                @Html.LabelFor(m => m.Valor, new { @class = "col-md-2" })
                @Html.TextBoxFor(m => m.Valor, new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12">
                <hr />
            </div>

            <div class="col-md-offset-10">
                <input type="button" class="btn btn-primary" onclick="Back()" value="Cancelar" />
                <input type="submit" class="btn btn-success" value="Cadastrar" />
            </div>
        </form>
    </div>
</div>

<script src="~/TypeScripts/GlobalScript.js"></script>