@model Senior.Revenda.Contract.DTOs.Filter.VeiculoFilterDTO
@{
    ViewBag.Title = "Veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Veículo <small>Consulta</small></h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            @Html.ActionLink("Cadastrar", "Cadastrar", "Veiculo")
        </div>

        <div class="col-md-12">
            <hr />
        </div>

        <form action="@Url.Content("~/Veiculo/Consultar")" method="get">
            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.Renavam, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.Renavam, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.Modelo, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.AnoFabricacao, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.AnoFabricacao, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.Quilometragem, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.Quilometragem, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.ValorMinimo, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.ValorMinimo, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.ValorMaximo, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.ValorMaximo, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.IdProprietario, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.IdProprietario, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.IdMarca, new { @class = "col-md-3" })
                @Html.DropDownListFor(m => m.IdMarca, (SelectList)ViewBag.Marca, "Selecione", new { @class = "form-control col-md-10" })
            </div>

            <div class="col-md-12">
                @Html.LabelFor(m => m.Status, new { @class = "col-md-3" })
                <div class="col-md-9">
                    @foreach (var value in Enum.GetValues(Model.Status.GetType()))
                    {
                        <div form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.Status, value, new { @class = "form-check-input" })
                            @Html.Label(value.ToString(), new { @class = "form-check-label" })
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-12">
                <hr />
            </div>

            <div class="col-md-offset-10">
                <input type="submit" class="btn btn-primary" value="Consultar" />
            </div>
        </form>

        @Html.Partial("_ConsultaVeiculo", Model)
    </div>
</div>

<script src="~/TypeScripts/Veiculo/Index.js"></script>