@model Senior.Revenda.Contract.DTOs.Filter.MarcaFilterDTO

@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Marca <small>Consulta</small></h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            @Html.ActionLink("Cadastrar", "Cadastrar", "Marca")
        </div>

        <div class="col-md-12">
            <hr />
        </div>

        <form action="@Url.Content("~/Marca/Consultar")" method="get">
            <div class="col-md-6 form-group">
                @Html.LabelFor(m => m.Nome, new { @class = "col-md-3" })
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control col-md-9" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.Status, new { @class = "col-md-3" })
                <div class="col-md-9">
                    @foreach (var value in Enum.GetValues(Model.Status.GetType()))
                    {
                        <div form-check form-check-inline">
                            @Html.RadioButtonFor(m => m.Status, value, new { @class = "form-check-input" })
                            @Html.Label(value.ToString(), new { @class = "form-check-label" })
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-12">
                <hr />
            </div>

            <div class="col-md-offset-10">
               <input type="submit" class="btn btn-primary" value="Consultar" />
            </div>
        </form>

        @Html.Partial("_ConsultaMarca", Model)
    </div>
</div>

<script src="~/TypeScripts/Marca/Index.js"></script>